<!--<ng-content></ng-content>
<select #pageValue (change) ="menuSwitch(pageValue.value)"> 
    
    <option value="aboutus">Rólunk</option> 
    <option value="categories">Dekorációk</option> 
    <option value="basket">Kosár</option> 
    <option value="profile">Profil</option>
    <option value="login">Bejelentkezés</option> 
    <option value="regist">Regisztráció </option> 

    </select>
    --> 
    <nav>
      <div class="hamburger" (click)="toggleMenu()">☰</div>

      <div class="mobile-menu-wrapper" [ngClass]="menuOpened ? 'open' : 'closed'">
        <ul>
          <li><a routerLink="/aboutus" routerLinkActive="active">Rólunk</a></li>
          <li><a routerLink="/categories" routerLinkActive="active">Dekorációk</a></li>
          <li *ngIf="isLoggedIn$ | async"><a routerLink="/basket">Kosár</a></li>
          <li *ngIf="isLoggedIn$ | async"><a routerLink="/profile">Profil</a></li>
          <li *ngIf="isLoggedIn$ | async">
            <a><button (click)="logout()" style="all: unset;">Kijelentkezés</button></a>
          </li>
          <li *ngIf="!(isLoggedIn$ | async)"><a routerLink="/login">Bejelentkezés</a></li>
          <li *ngIf="!(isLoggedIn$ | async)"><a routerLink="/regist">Regisztráció</a></li>
        </ul>
      </div>
      
    </nav>
    