<main class="main">
  <ng-container  class="kosar-container" *ngIf="(kosar$ | async) as kosar">
  <div *ngIf="kosar.length === 0" class="ures-kosar">
    A kosarad jelenleg üres.
  </div>

  <ng-container class="kosar-container" *ngIf="kosar.length > 0">
    <app-basket-item
      *ngFor="let tetel of kosar"
      [nev]="tetel.dekoracio.nev"
      [ar]="tetel.dekoracio.ar"
      [mennyiseg]="tetel.mennyiseg"
      (noveles)="increase(tetel)"
      (csokkentes)="decrease(tetel)"
      (torles)="remove(tetel)"
    ></app-basket-item>

    <div class="osszeg">
      Összesen: {{ basketService.getTotal() | ftFormat }}
    </div>
    <div class="fizetes-gomb-container">
      <button mat-raised-button color="primary" (click)="fizetes()">Fizetés</button>
    </div>
  </ng-container>
  

    <!-- Megjegyzés -->
    <div class="megjegyzes">
      <p class="text-center">
        Felhívjuk figyelmét, hogy a fizetés gombra történő kattintás<br>
        fizetési kötelezettséget von maga után!
      </p>
      <p class="text-center"><strong>Köszönjük a rendelést, visszavárjuk!</strong></p>
    </div>
</ng-container>
</main>



