<!--<html>
  <body>
    <header>
      <app-header></app-header>
      <app-menu (selectedPage)="changePage($event)"></app-menu>
  
    
    </header>
    <main class="main-content">
      @if(page === "aboutus"){
        <app-aboutus></app-aboutus>
        
      }@else if(page === "categories"){
        <app-categories> </app-categories>
      } 
       @else if(page === "basket"){
        <app-basket></app-basket>
      } @else if(page === "profile"){
        <app-profile></app-profile>
      } @else if(page === "login"){
        <app-login></app-login>
      }
       @else{
        <app-regist></app-regist>
      }
      </main>
  
      <footer>
  
        <app-footer></app-footer>
      </footer>
    </body>
  

</html>
!-->
<app-menu></app-menu>

<main class="main-content">
  <router-outlet></router-outlet>
</main>

<app-footer></app-footer>
